{% extends "blog/base.html" %}
{% block content %}
    <h3>If you want any feature to be added to this website or you are having any problems, you can directly contact the one and only creator of this website (feel free to DM me) by choosing either of the three options:</h3>
    <h4>
    	<br>
	    <a href="https://www.instagram.com/ishant020/">Instagram</a>
	    <br>
	    <br>
	    <a href="https://www.linkedin.com/in/ishant-thulla">LinkedIn</a>
	    <br>
	    <br>
	    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Gmail</a>
	</h4>
{% endblock content %}